body {
    background-color: #ffff;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(70, 70, 70);
}

p {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 20px;
    color: slategray;
    font-weight: 500;
}